@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.lato-font {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

a {
  margin-right: 24px;
}
a.active {
  color: #ffa502;
  text-decoration: underline;
}

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fc427b;
  --color-secondary: #fa8231;
  --color-accent: green;
}
